/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.
*/

body {
  color: rgba(255,255,255,.75);
  background-color: $sidebar-bg-color;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

#sidebar {
  flex: 0 0 auto;
  padding: 2rem;
  font-size: 0.8rem;

  .site-title {
    font-family: 'Modak', cursive;
    font-weight: normal;
    font-size: 2.7rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0.4rem;


    a {
      color: white;

      &:hover, &:focus {
        text-decoration: none;
        color: $sidebar-link-color;
      }
    }
  }
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: $body-bg;
  padding: 3rem;

  > header {
    margin-bottom: 1rem;
  }

  > .content {
    flex-grow: 1;
  }
}

.content {
  background: $body-bg;
  color: $body-color;
}

.links {
  margin-top: 2rem;

  ul {
    padding-left: 1rem;
  }

  li {
    padding-top: 0.2rem;

  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
      color: $sidebar-link-color;
    }
  }
}

#footer {
  flex: 0 0 auto;
  padding: 0 2rem 1rem;
}

/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

#sidebar {
  text-align: center;

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  .links {
    display: none;
  }

  header {
    ~ nav {
      display: flex;
    }
  }
}

#footer {
  display: block;

  .links {
    ul {
      font-size: 0.9rem;
    }

    li {
      padding-top: 0.2rem;
    }
  }
}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    > * { max-height: 100vh; overflow: auto; }
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    padding: 3.8rem 2rem;

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }

    .links {
      display: block;

      ul {
        font-size: 0.7rem;
      }
    }
  }

  .container {
    color: $body-color;
    padding: $section-spacing * 2;
    height: 100vh;

    > header {
      color: inherit;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }

    > * {
      max-width: 38rem;
      padding: 0;
    }
  }

  #footer {
    display: none;
  }
}
