/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

body {
  color: rgba(255,255,255,.75);
  background-color: $sidebar-bg-color;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

#sidebar {
  flex: 0 0 auto;
  padding: 2rem;
  font-size: 0.8rem;

  .site-title {
    font-family: 'Modak', cursive;
    font-weight: normal;
    font-size: 2.7rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0.4rem;

    a:hover, a:focus {
      text-decoration: none;
      color: $sidebar-link-color;
    }
  }

  .links {
    margin-top: 2rem;

    ul {
      font-size: 0.7rem;
      padding-left: 1rem;
    }

    li {
      padding-top: 0.2rem;

    }

    a:hover, a:focus {
      color: $sidebar-link-color;
    }
  }
}

// Container is flexbox as well -- we want content div to stretch and fill
.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  background: $body-bg;
  padding: 3rem;

  > header {
    margin-bottom: 1rem;
  }

  > .content {
    flex-grow: 1;
  }
}

.content {
  background: $body-bg;
  color: $body-color;
}


/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

#sidebar {

  // Center sidebar content
  text-align: center;

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  .links {
    display: none;
  }

  header {
    ~ nav {
      display: flex;
    }
  }

}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    flex-direction: row;
    height: 100vh;
    overflow: auto;
    > * { max-height: 100vh; overflow: auto; }
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    padding: 4rem 2rem;

    .site-title {

      a { color: white; }
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header ~ nav {
      display: flex;
    }

    .links {
      display: block;
    }
  }

  .container {
    color: $body-color;
    padding: $section-spacing * 2;
    height: 100vh;

    > header {
      color: inherit;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: 2rem;
        }
      }
    }

    > * {
      max-width: 38rem;
      padding: 0;
    }
  }
}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: #fff;

  svg {
    fill: rgba(255, 255, 255, 0.85);
  }

  &:hover, &:focus, &.active {
    svg { fill: #fff; }
  }

  &:hover, &:focus {
    text-decoration: underline;
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }
}

#sidebar nav {
  display: flex;
}

#sidebar-nav-links {
  flex-flow: column nowrap;
}

#sidebar-icon-links {
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;
    justify-content: flex-start;
  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.
----------------------------------------------------------- */

@if $sidebar-sticky {
  @media (min-width: $large-breakpoint) {
    body {
      align-items: flex-end;
    }
  }
}


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}
