$code-bg:    hsl(200, 30%, 97%);
$code-color: hsl(200, 25%, 25%);

.highlight {
  span.c,
  span.c1,
  span.cm  { color: mix($code-bg, $code-color, 50%); } // comment
  span.k   { color: hsl(200, 100%, 40%); } // keyword
  span.kd  { color: hsl(190, 100%, 35%); } // keyword declaration
  span.kt  { color: hsl(180, 100%, 30%); } // keyword type
  span.o   { color: hsl(200, 40%, 40%); } // operator
  span.nb  { color: hsl(170, 100%, 30%); } // built-in name
  span.nc  { color: hsl(180, 100%, 30%); } // class name
  span.p   { color: mix($code-bg, $code-color, 30%); } // punctuation
  span.s,
  span.s1,
  span.s2,
  span.sc  { color: hsl(35, 100%, 40%); } // string
  span.m,
  span.mf  { color: hsl(200, 100%, 40%); } // number
  span.cp  { color: hsl(320, 50%, 45%); } // preprocessor
}
